body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-card {
  max-width: 90% !important;
  margin: auto;
  /* height: 600px !important; */
  background-color: #fff;
  position: absolute;
  top: 15% !important;
  left: 11%;
}

.NextLoop-reg-card {
  max-width: 80% !important;
  margin: auto;
  height: 620px !important;
  background-color: #fff;
  overflow: hidden;
  /* position: absolute; */
  top: 15% !important;
  left: 11%;
}
.Block-container .ui.input {
  width: 100% !important;
}

/* .NextLoop-reg-card .ui.input {
  width: 50% !important;
} */

/* .NextLoop-reg-card p,
.NextLoop-reg-card input {
  width: 50% !important;
} */
.Block-container {
  text-align: left !important;
}

.NextLoop-reg-card button {
  margin-top: 3rem !important;
  background: #0071fe !important;
  width: 30% !important;
  border-radius: 10px !important;
  color: #fff !important;
}

.NextLoop-register-container {
  background-color: #02d0e8 !important;
  padding: 4rem 0 !important;
  height: 720px !important;
}

.login-card button {
  background-color: #0071fe !important;
  color: #fff !important;
}

.login-card img {
  width: 100% !important;
  height: 500px;
}

.ui.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.label {
  background-color: transparent !important;
  color: #5f6368 !important;
  font-size: 14px !important;
  text-align: left !important;
  margin-bottom: 10px !important;
  padding: 0px !important;
}

.ui.input {
  margin-bottom: 10px !important;
}

.login-container {
  background-color: #0071fe;
  height: 730px !important;
}
